#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

#display{
    display: flex;
    align-items: center;
    justify-content: center;
    border : 2px solid black;
    width: 240px;
}

#grid_row_container{
    border : 2px solid black;
}

.grid_row{
    display: flex;
    flex-direction: row;
}

.grid_row button {
    width: 60px;
    height: 60px;
    font-size : 25px;
}

button .selected{
    background-color: blue;
}