#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: turquoise;
}

.grid_row{
    display: flex;
    flex-direction: row;
}

.grid_row button {
    width: 40px;

}